{% load static %}
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'random/style.css' %}" rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    WELCOME HOME
  </span>
</div>

<html>
  <body>
    <header>
      <ul>
        <li align='middle'><a href="http://127.0.0.1:8000/start">Start</a></li>
      </ul>
    </header>
  </body>
</html>
